/* styling the main-title/jumbotron */
#main-title {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

/* styling for the ice-rink background I have yet to find */
#ice-rink {
    background-color: lightskyblue;
    height: 50vh;
    position: relative;
}

/* styling for the user-controlled player, this is placeholder for now */
#player {
    width: 4vh;
    height: 4vh;
    background-color: orange;
    position: absolute;
}