/* styling for the ice-rink background I have yet to find */
#ice-rink {
    background-color: lightskyblue;
    height: 50vh;
}

/* styling for the user-controlled player, this is placeholder for now */
#player {
    width: 2vh;
    height: 2vh;
    background-color: orange;
}